button {
    margin: 2%;
    padding: 2%;
    background-color: #4f0e1a;
    color: white;
    border-radius: 0%;
    font-size: 80%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
}

form {
    text-align: center;
}

#container {
    margin: 0 auto;
    width: 50%;
}


input {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.8em;
    margin: 10px 5px;
    padding: 5px;
    border: 1px solid white;
}

body {
    background-color: #4f0e1a;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5em;
}